$matte-black: #262626;
$bg-color: #34495e;

$fui-turquoise: #1abc9c;
$fui-emerald: #2ecc71;
$fui-peterriver: #3498db;
$fui-amethyst: #9b59b6;
$fui-wetasphalt: #34495e;
$fui-greensea: #16a085;
$fui-nephritis: #27ae60;
$fui-belizehole: #2980b9;
$fui-wisteria: #8e44ad;
$fui-midnightsky: #2c3e50;
$fui-sunflower: #f1c40f;
$fui-carrot: #e67e22;
$fui-alizarin: #e74c3c;
$fui-clouds: #ecf0f1;
$fui-concrete: #95a5a6;
$fui-orange: #f39c12;
$fui-pumpkin: #d35400;
$fui-pomegranate: #c0392b;
$fui-silver: #bdc3c7;
$fui-asbestos: #7f8c8d;
