@import '../styles/vars';

span {
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: $fui-wetasphalt;
  color: $fui-clouds;
}

a {
  color: $fui-clouds;
}

.mat-button {
  border: 2px solid $fui-clouds;
  font-weight: bold;
}
