<mat-toolbar [ngClass]="isNight ? 'night' : 'day'">
  <span style="font-weight: bold;">menu</span>
</mat-toolbar>
<mat-nav-list [ngClass]="isNight ? 'night' : 'day'">
  <a mat-list-item routerLink="/" style="height: 0;"></a>
  <a
    *ngFor="let link of navLinks"
    mat-list-item
    [routerLink]="[getRouterLink(link.url)]"
    (click)="handleClickedLink(link.url)"
  >
    <mat-icon
      *ngIf="link.url === instagramUrl"
      matListIcon
      [svgIcon]="link.iconName"
    ></mat-icon>
    <i
      *ngIf="link.url !== instagramUrl"
      matListIcon
      class="material-icons-round"
    >
      {{ link.iconName }}
    </i>
    <span class="nav-item-title">{{ link.title | lowercase }}</span>
  </a>
  <a mat-list-item href="{{ mailToUrl }}">
    <i matListIcon class="material-icons-round">email</i>
    <span class="nav-item-title">contact</span>
  </a>
</mat-nav-list>
