@import '../styles/vars';

.two-columns {
  display: flex;
  & > * {
    // border: 3px solid black;
    width: 50%;
    // margin: 3rem;
  }

  h3 {
    // width: 50%;
  }
}

h1 {
  text-align: center;
  // border: 3px solid black;
}

#bio {
  text-align: justify;
  text-align-last: center;
  border: 5px solid black;
  margin: 2rem;
  padding: 2rem 4rem;
  background-color: $fui-clouds;
  // width: 30%;
}

div.horizontal {
  display: flex;
  justify-content: center;
}

div.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#pic {
  width: 50%;
  margin: 2rem;

  img {
    width: 100%;
  }
}
