@import '../styles/vars';

img {
  max-width: 90vw;
  max-height: 450px;
  height: auto;
  object-fit: contain;
}

span {
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-evenly;
  min-height: 75vh;
}

#bio {
  text-align: justify;
  text-align-last: center;
  border: 5px solid black;
  margin: 2rem;
  padding: 2rem 4rem;
  background-color: $fui-clouds;
  max-width: 35vw;
}
