<h1 class="page-title">
  {{ pageTitle }}
</h1>

<div class="two-columns">
  <h3 id="bio">
    My name is Vince Carpino and I am a recent Computer Science graduate from
    Chapman University in Orange, CA.<br /><br />
    My interest in photography goes back several years to my first "real"
    camera, a Nikon 1 V2. I took it on a trip to Central Europe, photos from
    which you'll see here.<br /><br />
    Recently (and after far too long) I upgraded to a Nikon D5600 and quickly
    fell in love with the larger format DSLR. However, soon afterwards, it came
    time to make one last upgrade to a Nikon D750, a full-frame DSLR and my
    absolute favorite of the bunch, hands down.
  </h3>
  <div class="horizontal" id="pic">
    <div class="vertical">
      <img src="/src/assets/photos/me.jpg" />
    </div>
  </div>
</div>
