<h1 class="page-title" [@fadeIn]="'in'">
  {{ pageTitle }}
</h1>

<span [@fadeIn]="'in'">
  <figure>
    <img src="{{ getBioImageUrl() }}" />
    <figcaption>
      photo by
      <a href="https://www.instagram.com/minnahkazi/" target="_blank">minnah kazi</a>
    </figcaption>
  </figure>

  <mat-card *ngIf="bioInfo$ | async as bioInfo" [ngClass]="isNight ? 'night' : 'day'">
    <mat-card-title>
      {{ bioInfo.header }}
    </mat-card-title>
    <mat-card-content>
      <p *ngFor="let p of bioInfo.body">
        {{ p }}
      </p>
    </mat-card-content>
  </mat-card>
</span>