<h1 class="page-title" [@fadeIn]="'in'">
  {{ pageTitle }}
</h1>

<span [@fadeIn]="'in'">
  <figure>
    <img src="{{ getBioImageUrl() }}" />
    <figcaption>
      photo by
      <a href="https://www.instagram.com/minnahkazi/" target="_blank"
        >minnah kazi</a
      >
    </figcaption>
  </figure>
  <div>
    <h3 id="bio" [ngClass]="isNight ? 'night' : 'day'">
      My name is Vince Carpino and I'm a Computer Science graduate from Chapman
      University in Orange, CA.<br /><br />
      My interest in photography goes back several years to my first "real"
      camera, a Nikon 1 V2. I took it on a trip to Central Europe, photos from
      which you'll see here.<br /><br />
      Recently (and after far too long) I upgraded to a Nikon D5600 and quickly
      fell in love with the larger format DSLR. However, soon afterwards, it
      came time to make one last upgrade to a Nikon D750, a full-frame DSLR and
      my absolute favorite of the bunch, hands down.
    </h3>
  </div>
</span>
