@import '../styles/vars';

img {
  max-width: 90vw;
  max-height: 450px;
  height: auto;
  object-fit: contain;
}

span {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  min-height: 75vh;
  align-items: center;
}

figcaption {
  color: $fui-silver;

  a {
    color: $fui-silver;
  }
}

mat-card {
  max-width: 35rem;
  margin: 2rem;
  height: fit-content;
}

mat-card-content {
  font-size: 1.2rem;
}

.night {
  background-color: rgba($fui-wisteria, 0.25);
}
