@import '../styles/vars';

.container {
  display: flex;
  justify-content: center;
}

.mat-card {
  display: inline-grid;
  padding: 2rem;
  margin: 2rem;
  width: 35vw;
  // background-color: $fui-silver;
  // background-color: rgba($color: $fui-silver, $alpha: 0.5);
  box-shadow: 0px 5px 10px rgba($color: #555555, $alpha: 0.3);

  * {
    min-width: 100%;
    max-width: 100%;
  }
}

.mat-card-title {
  font-weight: bold;
}

#submit {
  font-size: 15px;
  height: 3rem;
  color: $fui-clouds;
  background-color: $fui-midnightsky;

  &:disabled {
    background-color: $fui-concrete;

    &:hover {
      cursor: not-allowed;
    }
  }
}
