@import '../styles/vars';

$maxWidth: 60vw;
$maxHeight: 60vw;

$maxWidth-mobile: 95vw;
$maxHeight-mobile: 95vh;

img {
  // max-width: $maxWidth;
  // max-height: $maxHeight;
  max-width: $maxWidth-mobile;
  max-height: $maxHeight-mobile;
  object-fit: contain;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.02);
      transition-delay: 1s;
    }
  }
}

img.ng-lazyloaded {
  opacity: 1;
}

#grid-container {
  display: grid;
  justify-content: center;
  row-gap: 1rem;
  margin-bottom: 1rem;
}

#grid-item {
  place-self: center;
}
