img {
  max-height: 450px;
  max-width: 90vw;
  object-fit: contain;
}

span {
  margin: 3px;
  align-content: flex-start;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  height: 100%;
}

span > img {
  margin: 5px;
}

.container {
  padding: 10px;
  height: 100%;
}
