img {
  max-width: 90vw;
  height: 450px;
  object-fit: contain;
  margin: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  @media (hover: hover) {
    &:hover {
      transform: scale(1.02);
    }
  }
}

span {
  margin: 3px;
  align-content: flex-start;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  height: 100%;
}

.container {
  padding: 10px;
  height: 100%;
}
