<h1 class="page-title">
  {{ pageTitle }}
</h1>

<!-- <div class="container">
  <div class="row">
    <div class="column">
      <img *ngFor="let pic of col1" [src]="pic.url" />
    </div>
    <div class="column">
      <img *ngFor="let pic of col2" [src]="pic.url" />
    </div>
    <div class="column">
      <img *ngFor="let pic of col3" [src]="pic.url" />
    </div>
  </div>
</div> -->

<div class="grid-container">
  <span>
    <img *ngFor="let pic of imageUrls" src="{{ pic }}"/>
  </span>
</div>
