<h1 class="page-title">
  {{ pageTitle }}
</h1>

<!-- <crystal-gallery [images]="myImages" [config]="myConfig"></crystal-gallery> -->

<!-- <ngx-masonry-gallery [width]="375" [images]="images"></ngx-masonry-gallery> -->

<!-- <masonry-layout
  [max-height]="250"
  [gutter]="4"
  [images]="myImages"
></masonry-layout> -->

<div id="container">
  <div class="row">
    <div class="column">
      <img *ngFor="let pic of col1" [src]="pic.url" />
    </div>
    <div class="column">
      <img *ngFor="let pic of col2" [src]="pic.url" />
    </div>
    <div class="column">
      <img *ngFor="let pic of col3" [src]="pic.url" />
    </div>
  </div>
</div>
