@import '../styles/vars';

li {
  text-decoration: none;
}

.nav-items {
  list-style-type: none;
}

.nav-bar-link {
  padding: 0 14px;

  button, a {
    font-weight: bold;
  }
}

.toolbar-space-filler {
  flex: 1 1 auto;
}

mat-toolbar {
  // border-radius: 0px 0px 5px 5px;
  margin-bottom: 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 100;
  background-color: $fui-clouds;
  box-shadow: 0px 5px 10px rgba($color: #555555, $alpha: 0.3);
}

#site-name-button {
  font-size: 24px;
  font-weight: bold;
}
