@import './app/styles/vars';

* {
  font-family: 'Baloo', 'Righteous', 'Helvetica Neue', sans-serif;
}

body {
  background: white;
  margin: 0;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

html,
body {
  height: 100%;
}
