@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./app/styles/vars";

body {
  background: $matte-black;
}

mat-card {
  border-radius: 7px !important;
}

.page-title {
  text-align: center;
  text-transform: uppercase;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
